//like display flex reset

@mixin grid-setup($gap) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1400px;
    margin: 0 auto;
    gap: $gap;
}

@mixin section-heading($color, $gap) {
    color: $color;
    font-size: 5.4rem;
    text-align: center;
    line-height: 110%;
    margin-bottom: $gap;
    animation: 1s appear-up 1.2s;
    animation-fill-mode: backwards;
    grid-column: span 12;
}
